<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <add key="piwebapiurl" value="pi_web_api_url" />
      <add key="type" value="P" />
      <add key="versionnumber" value="1" />
      <add key="marker" value="DP" />

      <add key="pidataarchive" value="pi_data_archive_name" />
      <add key="pitagname" value="pi_tag_name" />
    </appSettings>
</configuration>