<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <add key="piwebapiurl" value="https://q00764.tcpl.ca/piwebapi" />
      <add key="type" value="P" />
      <add key="versionnumber" value="1" />
      <add key="marker" value="DP" />

      <add key="pidataarchive" value="QUALUSPI" />
      <add key="pitagname" value="JasonElliottTestPITag" />
    </appSettings>
</configuration>